html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

header  {
    background-color: #454f6f;
    padding: 20px;
    font-size: 20px;
    color: #ffffff
    display: flex;
    justify-content: space-between;
    
}
nav a{
    text-decoration: none;
    font-size: 1rem;
    margin-left: 18px;
    color: #ffffff;
} 



.section_one {
    text-align: center;
    font-size: 30px;
    background-color: #e6834c;
    padding: 40px;
    line-height: 2;
    color: #ffffff;
  }


   nav {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 40px;
   }

  .section_three
  {
margin: auto;
padding: 30px;
width: 90%;

}



.fisrt_2{
    display: flex;
    width: 90%;
    margin: auto;
}



.second_2{
    display: flex;
    width: 90%;
    margin: auto;
}



.text_box-one{
width: 80%;
padding: 20px;

text-align: justify;
}

.text_box-two{
    width: 80%;
   
    padding: 20px;
    text-align: justify;
}

.text_box-tree{
    width: 80%;
  
    padding: 20px;
    text-align: justify;
}


.text_box-four{
    width: 80%;
    padding: 20px;
    text-align: justify;
}

.footer_box{ 
    margin: auto;
   padding-bottom: 80px;
    background-color: #454f6f;
    justify-content: space-between;
    display: flex;
color: rgb(253, 253, 250);

}



.ourdiv{
    margin: 0;
    text-align: center;
    padding: 50px;
    background-color:#e6834c;
}



/* Responsive part of the css */

@media (max-width :700px){

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 40px;
        text-align: center;
       }
    



}
